
@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="border-2 mb-4">
	Page No : <input type="text" name="PageNumber" id="PageNo" class="text-black" value="1">
	Page Size : <input type="text" name="PageSize" id="PageSize" class="text-black" value="10">

</div>


<table class="table table-striped text-center">
	<thead class="text-white">
		<tr class="bg-black">
			<td class="col">
				Id
			</td>
			<td class="col">
				Name
			</td>
			<td class="col">
				Email
			</td>
			<td class="col">
				User name
			</td>
			<td class="col">
				DepID
			</td>
			<td class="col">
				Department name
			</td>
		</tr>
	</thead>
	<tbody id="insert" class="text-bg-success text-center">
		<image id="Loading" colspan="5" style="display:none" src="~/Loading/Test.gif" />
	</tbody>
</table>

@*@{
	AjaxOptions options = new AjaxOptions();
	options.OnSuccess = "OnSuccess";
	options.OnFailure = "OnFailure";
	options.HttpMethod = "GET";
	options.LoadingElementId = "#Loading";
	options.InsertionMode = InsertionMode.InsertAfter;
	//options.Url = "/Employee/GiveMeData";
}*@


@using(Ajax.BeginForm("GiveMeData","Employee", new { pageNumber =  1, pageSize = 10 }, new AjaxOptions()
{
	//OnSuccess = "OnSuccess",
	//OnFailure = "OnFailure",
	HttpMethod = "GET",
	LoadingElementId = "Loading",
	UpdateTargetId = "insert",
	InsertionMode = InsertionMode.Replace
}))
{
	<input type="submit" value="Fetch Data"/>
}


@*@Ajax.ActionLink("Fill Next Data", "GiveMeData", "Employee", new { pageNumber = 1, pageSize = 10 }, options)*@
@*@Ajax.RouteLink("Fill Me", new { pageNumber = 1, pageSize = 10 }, options)*@



	<script type="text/javascript" defer>
		function OnSuccess(data) {
			if (Object.keys(data).length === 0) {
				$("#insert").html("<tr class='bg-danger text-white text-center'><td colspan='5'> we have noting to Show!<td></tr>")
			}
			else {
				$("#insert").text("")
				$.each(data, function (index, item) {

					$('#insert').append('<tr><td class="col">' + item.Id +
						'</td><td class="col">' + item.Name +
						'</td><td class="col">' + item.email +
						'</td><td class="col">' + item.UserName +
						'</td><td class="col">' + item.DepId +
						'</td><td class="col">' + item.Department_Id +
						'</td></tr>');

				})
			}
		}

		function OnFailure(data) {
			alert("Invalid URL!")
		}

	

	</script>




@*need when use traditional jQuery
	<button id="before" class="btn btn-secondary">Fetch before</button>
	<button id="after" class="btn btn-secondary">Fetch Next</button>*@





